@font-face {
	font-family:"ITC Galliard Std";
	font-style:normal;
	font-weight:bold;
	src : url("../font/GalliardStd-Bold.otf");
}
@font-face {
	font-family:"ITC Galliard Std";
	font-style:italic;
	font-weight:normal;
	src : url("../font/GalliardStd-Italic.otf");
}
@font-face {
	font-family:"ITC Galliard Std";
	font-style:italic;
	font-weight:bold;
	src : url("../font/GalliardStd-BoldItalic.otf");
}
@font-face {
	font-family:"ITC Galliard Std";
	font-style:normal;
	font-weight:normal;
	src : url("../font/GalliardStd-Roman.otf");
}
a {
	text-decoration:none;
}
img {
	max-width:100%;
}
body {
	margin-bottom:0px;
	margin-top:0px;
	margin-left:4%;
	margin-right:4%;
}
.partNumber {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:180%;
	font-style:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:30px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.partTitle {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:240%;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.chapterNumber {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
.chapterTitle {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:170%;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:10%;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.chapterTitle1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:170%;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:10%;
	margin-left:0px;
	margin-right:0px;
	margin-top:10%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.chapterTitle2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:170%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:10%;
	margin-left:0px;
	margin-right:0px;
	margin-top:10%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.smallCap {
	font-size:75%;
}
.header1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:120%;
	font-style:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
.header2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:110%;
	font-style:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
.NoIndent {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:100%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.NoIndent1 {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:100%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:25px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.para {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:100%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:27px;
}
.paraRight {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:100%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
.paraCenter {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:100%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.extractTBL {
	margin-bottom:3%;
	margin-left:1.5em;
	margin-right:0px;
	margin-top:3%;
	border:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.extract {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:3%;
	margin-left:1.5em;
	margin-right:0px;
	margin-top:3%;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.dialogue {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0%;
	margin-left:2.2em;
	margin-right:0px;
	margin-top:0%;
	text-align:justify;
	text-decoration:none;
	text-indent:-1em;
}
.extract1 {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:1.5em;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.extract2 {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:5em;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.footNoteTBL {
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	border:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.footNote {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
.footNote1 {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
.index1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-2em;
}
.index2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:3.2em;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-2.2em;
}
.title {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:320%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:30px;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.titleAU {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.subTitle {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:140%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.143;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:60px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.centerImage1 {
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:50%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.centerImage {
	margin-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.copyright1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
.copyright2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:85%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.111;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:20px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
.tocPara {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.tocParaTop {
	color:#181716;
	font-family:"ITC Galliard Std", serif;
	font-size:90%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:20px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}




.sup {
	vertical-align:super;
	font-size:65%;
}
.italic {
	font-family:"ITC Galliard Std";
	font-style:italic;
	font-weight:normal;
}
.bold {
	font-family:"ITC Galliard Std", serif;
	font-style:normal;
	font-weight:bold;
}
.boldItalic {
	font-family:"ITC Galliard Std";
	font-style:italic;
	font-weight:bold;
}
