html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

textarea {
    flex: 1;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    outline: none;
}

.CodeMirror {
    height: 100% !important;
    flex: 1;
    border: none !important;
}

.CodeMirror-scroll {
    height: 100% !important;
    overflow: auto !important;
}

h1 {
    font-size: 100;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    hyphens: auto;
    font-size: 25px;
}

ol {
    hyphens: auto;
    font-size: 25px;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: #f5f5f5;
    color: #c7254e;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 20px;
}

pre code {
    display: block;
    padding: 16px;
    margin: 0 0 16px;
    overflow-x: auto;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 90%;
    color: #333;
    line-height: 1.5;
}
