    body {

        font-family: arial;
        padding: 5%;
    }


    h1 {

        font-size: 100;
    }


    a {
        text-decoration: none;
    }

    p {
        text text-align: justify;
            hyphens: auto;
            font-size: 25px;
    }

    ol {

        hyphens: auto;
        font-size: 25px;

    }

    code {

        /* Base styles for inline code */

        font-family: "Courier New", Courier, monospace;
          background-color: #f5f5f5;
          color: #c7254e;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 20px;

    }

    /* Base styles for code blocks */
    pre code {
            display: block;
              padding: 16px;
              margin: 0 0 16px;
              overflow-x: auto;
              background-color: #f5f5f5;
              border-radius: 4px;
              font-size: 90%;
              color: #333;
              line-height: 1.5;
    }

  