    
 /* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black #221F20 */


    body {

        font-family: arial;
        padding: 5%;
        background-color: #221F20;
      
    }

    b, strong {

        color: #EF8D34;
    }


    h1 {

        font-size: 100;
        color: #EE4A95;

    }

    h2 {

        font-size: 80;
        color: #EF8D34;

    }

   blockquote {

        
        background: linear-gradient(#EE4A95, #EF8D34, #4EACAE, #EE4A95);
        color: black;
        padding: 10px;
        text-decoration-color: #221F20;

    }   

    /* Media query for phones (small screens) */
@media only screen and (max-width: 600px) {
  blockquote {
    margin: 10px; /* Adjust margin for smaller screens */
    padding: 8px; /* Optional: adjust padding for smaller screens */
   
  }

 
}

    blockquote p {
        color: #221F20;
    }


    ins {
          text-decoration: underline;
          text-decoration-thickness: 4px; /* Adjust thickness as needed */
          text-decoration-color: transparent;
          background: linear-gradient(to right, #EE4A95, #EF8D34, #4EACAE, #EE4A95);
          background-size: 100% 4px; /* Adjust thickness here as well */
          background-repeat: no-repeat;
          background-position: 0 100%;
        }


    blockquote strong {

        color: #221F20;
    }

    sup {

        color: #EE4A95;
        font-size: 16px;
    }
        /* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black 221F20 */

    a {
        text-decoration: none;
        outline: none;
    }



    p {
        text text-align: justify;
            hyphens: auto;
            font-size: 25px;
            color: #CBCCCC;
    }

    ol {

        hyphens: auto;
        font-size: 25px;

    }

    code {

        /* Base styles for inline code */
        /* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black #221F20 */

        font-family: "Courier New", Courier, monospace;
          
          background-color: #4EACAE;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 20px;


    }

    

    /* Base styles for code blocks */
    pre code {
            display: block;
              padding: 16px;
              margin: 0 0 16px;
              overflow-x: auto;
              background-color: #f5f5f5;
              border-radius: 4px;
              font-size: 90%;
              color: #333;
              line-height: 1.5;
    }


    hr {

        border-color: #EE4A95;
    }
  