.attrib-text_right {
    display: block;
    font-size: 90%;
    text-align: right;
    margin: 0.5em 0 1em
    }
.author-text_right {
    display: block;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5em;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.bold {
    font-weight: 700
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: list-item
    }
.calibre3 {
    display: table-row;
    vertical-align: inherit
    }
.calibre4 {
    line-height: 1.2
    }
.copyright {
    display: block;
    font-size: 95%;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left
    }
.footnote {
    display: block;
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -0.9em
    }
.footnote_1digit {
    display: block;
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.3em
    }
.footnote_3digit {
    display: block;
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -2.3em
    }
.h {
    display: block;
    font-size: 120%;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin: 2em 0 1em
    }
.h1_title {
    display: block;
    font-size: 180%;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin: 1em 0 0.5em
    }
.h1_title-text_center {
    display: block;
    font-size: 180%;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    margin: 1em 0 0.5em
    }
.image {
    display: inline-block;
    height: 5.875em;
    width: 14em
    }
.index_level {
    display: block;
    font-size: 90%;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.5em
    }
.index_level1 {
    display: block;
    font-size: 90%;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.5em
    }
.index_level2 {
    display: block;
    font-size: 90%;
    margin-bottom: 0;
    margin-left: 3.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.5em
    }
.italic {
    font-style: italic
    }
.item {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.item1 {
    display: block;
    font-size: 150%;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin: 2em 0 1em
    }
.item2 {
    font-size: 70%;
    line-height: 1.2;
    vertical-align: super
    }
.item3 {
    background: #fff;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 100%;
    margin: -1px 0 0
    }
.item4 {
    background-color: #f5f5f5;
    display: table-row;
    transition: all 0.125s ease-in-out;
    vertical-align: inherit
    }
.item5 {
    font-size: 70%;
    line-height: 1.2;
    vertical-align: text-bottom
    }
.left {
    border-left-style: none;
    border-right-style: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0.1em;
    border-top: #d3d3d3 dotted 1px;
    border-bottom: #d3d3d3 dotted 1px
    }
.middle {
    display: table-header-group;
    vertical-align: middle
    }
.middle1 {
    display: table-row-group;
    vertical-align: middle
    }
.quotes {
    display: block;
    font-size: 90%;
    line-height: 130%;
    margin: 1em 0 1em 1.5em
    }
.quotes1 {
    display: block;
    font-size: 100%;
    line-height: 130%;
    text-align: justify;
    margin: 1em 0 0 1.5em
    }
.simple {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: -1em
    }
.table {
    display: block;
    font-size: 100%;
    margin-bottom: 1em;
    margin-top: 1em
    }
.text_center {
    display: block;
    text-align: center
    }
.text_indent {
    display: block;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.text_noindent {
    display: block;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: justify
    }
.text_right {
    display: block;
    text-align: right
    }
.title_image-text_right {
    display: block;
    margin-top: 1em;
    text-align: right
    }
.title-text_right {
    display: block;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: right;
    margin: 1em 0 2em
    }
.toc {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
    height: auto;
    left: 50%;
    margin-left: -40%;
    top: 50px;
    visibility: hidden;
    width: 80%;
    z-index: 99
    }
.underline {
    text-decoration: underline
    }
