/* hyperlit colors: 
orange #EF8D34; 
pink #EE4A95; 
aqua #4EACAE; 
black #221F20; 
"white" #CBCCCC*/



#toc-toggle-button {
  width: 28px;
  height: 28px;
  background-color: #221F20; /* Button background color */
  border: none; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}




#editButton {
width: 28px; /* Matching width */
  height: 28px; /* Matching height */
  background: #221F20;
  border: none;
  cursor: pointer;
  padding: 4px;
  stroke: #CBCCCC;
}



.open {
  background-color: #221F20;
  border: none;
  color: #CBCCCC;
  font-size: 24px; /* Adjust this value as needed */
  line-height: 36px; /* Match this to the height of the toc-toggle-button */
  width: 36px; /* Optional: Set width to match toc-toggle-button */
  height: 36px; /* Optional: Set height to match toc-toggle-button */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer;
}


/* hyperlit colors: 
orange #EF8D34; 
pink #EE4A95; 
aqua #4EACAE; 
black #221F20; 
"white" #CBCCCC*/

 #cloudRef {
    width: 28px;
    height: 28px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: none; /* Ensure no background */
    transition: transform 0.3s ease-in-out;
  }

  #cloudRef:hover .cloud-inner-space {
    fill: url(#gradient); /* Inner space becomes gradient on hover */
  }
  

 


.inverted svg {
  background: #CBCCCC;
  stroke: #221F20;
  border-radius: 4px;
  padding: 4px;
}



/* Container for both buttons */
#hyperlight-buttons {
  position: absolute;
  display: flex; /* This only applies when the div is not hidden */
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 9999;
  padding: 8px;
  border-radius: 8px;
  background: #221f20;
}

/* Style for the copy button */
#copy-hyperlight {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copy-hypercite {
  width: 16px;
  height: 16px;
 background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the delete/trash button */
#delete-hyperlight {
  font-size: 15px;
  background: none;
  border: none;
  padding: 0;
  font-family: "Segoe UI Emoji", "NotoColorEmoji", "Apple Color Emoji", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}










#logo {
  height: 100%;
  width: 100%;
  display: block;
}

#logoContainer:hover #logo {
  opacity: 0;
}

#logoContainer:hover {
  cursor: pointer;
}




#logoContainer:hover::after {
  content: "";
  background: url('http://127.0.0.1:8000/images/logob.png')no-repeat center / contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#logoContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

#userLogo {
  height: 20px;
  width: 20px;
  fill: #CBCCCC;
}

#userContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}


#topRightContainer {
  position: fixed;
  top: 10px;
  right: 10px; /* This value is updated dynamically */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  transition: opacity 0.3s ease, right 0.3s ease;
}





#nav-buttons {
  position: fixed;
  bottom: 40px;
  right: 10px; /* This value is updated dynamically */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  transition: opacity 0.3s ease, right 0.3s ease;
}

.disable-right-transition {
  transition: opacity 0.3s ease !important;
}


/* Default state: No rotation */
.icon {
  display: inline-block; /* Enables transform */
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}

/* Open state: Tilted 45 degrees */
.icon.tilted {
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
}
