/* hyperlit colors: 
orange #EF8D34; 
pink #EE4A95; 
aqua #4EACAE; 
black #221F20; 
"white" #CBCCCC*/



#toc-toggle-button {
  width: 36px;
  height: 36px;
  background-color: #221F20; /* Button background color */
  border: none; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#toc-toggle-button::before,
#toc-toggle-button::after,
#toc-toggle-button span {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #CBCCCC;
  border-radius: 2px;
}

#toc-toggle-button::before {
  top: 12px;
}

#toc-toggle-button::after {
  bottom: 12px;
}

#toc-toggle-button span {
  top: 50%;
  transform: translateY(-50%);
}


#editButton {
width: 36px; /* Matching width */
  height: 36px; /* Matching height */
  background: #221F20;
  border: none;
  cursor: pointer;
  padding: 8px;
}






/* Container for both buttons */
#hyperlight-buttons {
  position: absolute;
  display: flex; /* This only applies when the div is not hidden */
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 9999;
  padding: 8px;
  border-radius: 8px;
  background: #221f20;
}

/* Style for the copy button */
#copy-hyperlight {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the delete/trash button */
#delete-hyperlight {
  font-size: 15px;
  background: none;
  border: none;
  padding: 0;
  font-family: "Segoe UI Emoji", "NotoColorEmoji", "Apple Color Emoji", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}










#logo {
  height: 100%;
  width: 100%;
  display: block;
}

#logoContainer:hover #logo {
  opacity: 0;
}

#logoContainer:hover {
  cursor: pointer;
}




#logoContainer:hover::after {
  content: "";
  background: url('http://127.0.0.1:8000/images/logob.png')no-repeat center / contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#logoContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

#nav-buttons {
  position: fixed;
  bottom: 40px;
  right: 10px; /* This value is updated dynamically */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  transition: opacity 0.3s ease, right 0.3s ease;
}

.disable-right-transition {
  transition: opacity 0.3s ease !important;
}

