/* hyperlit colors: 
orange #EF8D34; 
pink #EE4A95; 
aqua #4EACAE; 
black #221F20; 
"white" #CBCCCC*/

/* Base styles for the TOC */
#toc-container {
  transform: translateX(calc(-105%)); /* Off-screen, including the gap */
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 1em;
  bottom: 1em;
  top: 1em;
  height: 90%;
  width: 60%;
  max-width: 30ch; /* 70ch text plus ~6ch padding (2em left + 1em right) */
  background-color: #221F20;
  z-index: 1000;
  overflow: hidden; /* Ensure content doesn't overflow the container */
  padding-left: 1em;
  padding-right: 2em;
  border-radius: 1em 1em;
}

#ref-container,
#highlight-container {
    transform: translateX(calc(100% + 2em)); /* Off-screen, including the gap */
  transition: transform 0.3s ease-in-out;
  position: fixed;
  right: 1em; /* Positioned on the right */
  bottom: 1em;
  top: 1em;
  height: 90%;
  width: 60%;
  max-width: 30ch; /* 70ch text plus ~6ch padding (2em left + 1em right) */
  background-color: #221F20;
  z-index: 1000;
  overflow: hidden; /* Ensure content doesn't overflow the container */
  padding-left: 1em;
  padding-right: 2em;
  border-radius: 1em 1em;
}



#toc-container .scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 1em 1em 1em; /* Remove top padding */
}

#highlight-container .scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 1em 1em 1em; /* Remove top padding */
}

#toc-container .mask-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1em; /* Matches the scroller's top padding */
  pointer-events: none;
  background-color: #221F20;
  z-index: 10;
  box-shadow: inset 0px -4px 4px -4px #221F20; /* Fades the text at the top */
}

#toc-container .mask-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em; /* Matches the scroller's bottom padding */
  pointer-events: none;
  background-color: #221F20;
  z-index: 10;
  box-shadow: inset 0px 4px 4px -4px #221F20; /* Fades the text at the bottom */
}

#highlight-container .mask-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1em; /* Matches the scroller's top padding */
  pointer-events: none;
  background-color: #221F20;
  z-index: 10;
  box-shadow: inset 0px -4px 4px -4px #221F20; /* Fades the text at the top */
}

#highlight-container .mask-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em; /* Matches the scroller's bottom padding */
  pointer-events: none;
  background-color: #221F20;
  z-index: 10;
  box-shadow: inset 0px 4px 4px -4px #221F20; /* Fades the text at the bottom */
}






#toc-container h1.first {
    color: #EE4A95 !important;
}

#toc-container h1 {
    font-size: 25px;
    color: #E0E0E0;
}

#toc-container h2 {
    font-size: 20px;
    padding-left: 2em;
    color: #C4C4C4;
}

#toc-container h3, h4 {
    padding-left: 4em;
    font-size: 20px;
    color: #A8A8A8;
}

#toc-container.open {
    transform: translateX(0);
}

#toc-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

#toc-overlay.active {
    opacity: 1;
    visibility: visible;
}




/* Add a pseudo-element that remains at the top as a mask */
#ref-container::before,
#highlight-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em; /* Height of constant masking area */
  pointer-events: none; /* Allows click events to pass through */
  background: linear-gradient(to bottom, #221F20, transparent);
  z-index: 10; /* Ensure it sits over the content */
}



#ref-container.open,
#highlight-container.open {
  transform: translateX(0); /* Slide in to show the gap on the right */
}


/* Reference Overlay */
#ref-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Covers the entire screen */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999; /* Below the reference container */
}

#ref-overlay.active {
    opacity: 1;
    visibility: visible;
}