 /* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black #221F20; "white" #CBCCCC */

 @import url('./theme/variables.css');


 /* Styling all paragraph elements within #highlight-div */
#highlight-container p {
  font-size: 25px;
  line-height: 1.5;
  color: var(--color-text);
}

#highlight-container {
caret-color: var(--color-text);

}

/* Styling blockquotes within #highlight-div */
#highlight-container blockquote h1,
#highlight-container blockquote h2,
#highlight-container blockquote h3,
#highlight-container blockquote h4,
#highlight-container blockquote h5 {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 25px;
}

#highlight-container blockquote {
  border-left: 4px solid #ccc;
  font-size: 25px;
  line-height: 1.5;
  color: var(--color-text);
  border-color: var(--hyperlit-orange);
}

/* Styling blockquotes within #highlight-div */
#highlight-container blockquote:hover {
  border-left: 4px solid #ccc;
  background: var(--color-background);
  color: var(--color-text);
  border-color: var(--hyperlit-orange);
}


#highlight-container hr {
  border-color: black;
}

#highlight-container .active {
  margin: 1em 2em;
  padding: 0.5em 1em;
  border-left: 4px solid var(--hyperlit-black);
  font-style: italic;
  background: var(--hyperlit-aqua);
  color: var(--hyperlit-black);
  font-size: 25px;
}

blockquote.active a {
    color: #221F20;
    text-decoration: none;
    outline: none;
}

#highlight-container blockquote.active:hover a {
    color: #4EACAE;
    text-decoration: none;
    outline: none;
}



div[contenteditable="true"]:focus {
  outline: none;
}


/* Global spinner and tick fixed at the top-right of the viewport */
.spinner,
.tick {
  /* Positioning will be set inline in the functions. */
  font-size: 16px;
  z-index: 10000;
  pointer-events: none;
}

.spinner {
  animation: spin 1s linear infinite;
  color: var(--color-text);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tick {
  color: green;
}

