 /* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black #221F20; "white" #CBCCCC */


 /* Styling all paragraph elements within #highlight-div */
#highlight-container p {
  font-size: 25px;
  line-height: 1.5;
  color: #CBCCCC;
}

/* Styling blockquotes within #highlight-div */
#highlight-container blockquote {
  margin: 1em 2em;
  padding: 0.5em 1em;
  border-left: 4px solid #ccc;
  font-style: italic;
  background: #221F20;
  color: #CBCCCC;
  font-size: 25px;
}

/* Styling blockquotes within #highlight-div */
#highlight-container blockquote:hover {
  margin: 1em 2em;
  padding: 0.5em 1em;
  border-left: 4px solid #ccc;
  font-style: italic;
  background: #221F20;
  color: #CBCCCC;
  font-size: 25px;
  border-color: #EE4A95;
}


#highlight-container hr {
  border-color: black;
}

#highlight-container .active {
  margin: 1em 2em;
  padding: 0.5em 1em;
  border-left: 4px solid #221F20;
  font-style: italic;
  background: #4EACAE;
  color: #221F20;
  font-size: 25px;
}

blockquote.active a {
    color: #221F20;
    text-decoration: none;
    outline: none;
}

#highlight-container blockquote.active:hover a {
    color: #4EACAE;
    text-decoration: none;
    outline: none;
}



div[contenteditable="true"]:focus {
  outline: none;
}

