/* hyperlit colors: orange #EF8D34; pink #EE4A95; aqua #4EACAE; black #221F20 */

/* Disable the native iOS menu */
    html, body, * {
        -webkit-touch-callout: none; /* Disable the callout menu */
        -webkit-user-select: text;   /* Allow text selection */ 

    }

  


