.authorline {
    display: block;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 6em;
    text-align: left;
    text-indent: 0
    }
.biblioentrylist {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block;
    margin: 1em 0
    }
.calibre6 {
    display: list-item
    }
.calibre7 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre8 {
    line-height: 1.2
    }
.calibre9 {
    display: table-row;
    vertical-align: inherit
    }
.calibre10 {
    display: table-row-group;
    vertical-align: middle
    }
.copy {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.copya {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0.7em;
    text-align: left;
    text-indent: 0
    }
.copyt {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 3em;
    text-align: left;
    text-indent: 0
    }
.ded {
    display: block;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4em;
    padding-left: 1em;
    text-align: justify;
    text-indent: 0
    }
.endnote {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.1em;
    margin-left: 1.8em;
    margin-top: 0.1em;
    text-align: justify;
    text-indent: -0.95em
    }
.figure {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    margin: 1em 0
    }
.halftitle {
    -epub-hyphens: none;
    display: block;
    font-size: 2.2em;
    font-weight: 700;
    hyphens: none;
    line-height: 1.2em;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0;
    margin: 2.5em 0 4em
    }
.image {
    display: inline-block;
    height: 4.25em;
    width: 10.3125em
    }
.image1 {
    display: inline-block;
    height: 26.625em;
    width: 23.4375em
    }
.index-entry-list {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.index-entry-list1 {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.item {
    display: block;
    margin-bottom: 0;
    margin-top: 0.1em;
    text-indent: 0
    }
.item1 {
    display: block;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    text-indent: 1.2em
    }
.item2 {
    text-decoration: none
    }
.item3 {
    display: block;
    font-weight: 400;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0;
    text-align: left
    }
.item4 {
    display: block;
    margin-bottom: 0.1em;
    margin-left: 6em;
    margin-top: -1.2em;
    text-align: left
    }
.item5 {
    -epub-hyphens: none;
    display: block;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    hyphens: none;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-indent: -1.5em;
    margin: 1.5em 0 0.5em 1.5em
    }
.item6 {
    line-height: 1.2;
    text-decoration: none
    }
.item7 {
    -epub-hyphens: none;
    display: block;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 700;
    hyphens: none;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-indent: -2.5em;
    margin: 1.5em 0 0.7em 2.5em
    }
.item8 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    font-size: 85%;
    margin-bottom: 0.6em;
    margin-top: 1em;
    padding-bottom: 0.2em;
    text-align: left;
    text-indent: 0;
    width: 98%;
    border-top: #000 solid 0.1em;
    border-bottom: #000 solid 0.1em
    }
.item9 {
    display: table-caption;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0.3em;
    margin-left: 4.5em;
    margin-top: 0.1em;
    text-align: justify;
    text-indent: -4.5em
    }
.item10 {
    display: table-header-group;
    position: sticky;
    vertical-align: middle;
    border-bottom: #000 solid 0.2em
    }
.item11 {
    display: table-cell;
    font-style: italic;
    font-weight: 400;
    vertical-align: bottom;
    padding: 0.3em 1px
    }
.item12 {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 1px 1em 1px 1px
    }
.item13 {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.item14 {
    margin-bottom: 0.1em;
    margin-right: 0;
    text-align: right
    }
.item15 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.list {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0.1em
    }
.list-bullet {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.list-order {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0.1em;
    margin-top: 1em;
    text-align: left
    }
.list1 {
    display: block;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 0
    }
.lof {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.1em;
    margin-left: 1.5em;
    margin-top: 0.2em;
    padding-left: 0;
    text-align: left;
    text-indent: -1.5em
    }
.noindent {
    display: block;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-top: 1em;
    padding-left: 0;
    text-align: justify;
    text-indent: 0
    }
.none {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    padding-right: 0
    }
.publisher {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 5em;
    text-align: left;
    text-indent: 0
    }
.quote {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.ref {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.1em;
    margin-left: 1.1em;
    margin-top: 0.2em;
    text-indent: -1em
    }
.ser {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.ser1 {
    display: block;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: 0
    }
.ser2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4em;
    text-align: justify;
    text-indent: 0
    }
.series {
    display: block;
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 4em;
    margin-left: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.source {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-left: 0.1em;
    margin-top: 0.1em;
    padding-left: 0;
    text-align: justify;
    text-indent: 0
    }
.stitle {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: 0
    }
.title {
    -epub-hyphens: none;
    display: block;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 700;
    hyphens: none;
    line-height: 1.2em;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 0.2em
    }
.toc {
    -epub-hyphens: none;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2em;
    page-break-after: avoid;
    text-align: left;
    text-indent: -0.8em;
    margin: 1em 0 4em 0.8em
    }
.toclevel {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0.1em;
    margin-left: 1.2em;
    margin-top: 0.2em;
    text-align: left;
    text-indent: 0
    }
.toclevel0a {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 1.2em
    }
.toclevel0b {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1.5em;
    margin-left: 1.2em;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.toclevel1 {
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-top: 1em;
    text-align: left;
    text-indent: -0.8em
    }
.toclevel2 {
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 1.2em;
    margin-top: 1em;
    text-align: left;
    text-indent: -1.2em
    }
